{% extends './layout.html' %} 
{% block content %}
  <div class="row">
    <div class="col-sm-8">
      <h3>Products</h3>
      {% for product in products %}
        <div class="well backWhite nomarginTopBot">
            <form action="/orders/{{ product.id }}" method="POST">
              {{ product.name }}
              <button class="btn btn-primary pull-right" type="submit">Add to Cart</button>
              <br clear="both" />
            </form>
          </div>
      {% endfor %}
    </div>
    <div class="col-sm-4">
      <div>
        <h3>Your Cart</h3>
        <div class="well">
          {% if cart %}
            <form action="/{{ item.productId }}?_method=DELETE" method="POST">
              {% for item in cart.lineitems %}
                <div class="well backWhite">
                  <div>
                    {{ item.productId }}<span class="label label-default pull-right">{{ item.quantity }}</span>
                    <br clear="both" />
                  </div>
                  <button class="btn btn-warning btn-sm" type="submit">Remove from Cart</button>
                  <br clear="both" />
                </div>
              {% endfor %}
              <hr class="hr" />
              <div><label for="address">Address:</label></div>
              <input name="address" type="text" class="marginbelowsm" style="width:100%" />
              <button class="btn btn-primary" type="submit">Place Order</button>
            </form>
          {% else %}
            <h5>Your cart is empty</h5>
          {% endif %}
        </div>


        
      </div>

      <h3>Your Orders</h3>
      
        <div class="well backWhite">

          <div class="marginbelowsm">Order: 1 - address</div>

            <div class="well backWhite nomarginTopBot">
              <div>
                Product 1 name<span class="label label-default pull-right">1</span>
                <br clear="both" />
              </div>
            </div>

            <div class="well backWhite nomarginTopBot">
              <div>
                Product 2 name<span class="label label-default pull-right">3</span>
                <br clear="both" />
              </div>
            </div>
            
        </div>

      </div>

    </div>

  </div>
{% endblock %}