{% extends './layout.html' %} 
{% block content %}
  <div class="row">
    <div class="col-sm-8">
      <h3>Products</h3>
      {% for product in products %}
        <div class="well backWhite nomarginTopBot">
            <form action="/orders/{{ product.id }}/line" method="POST">
              {{ product.name }}
              <button class="btn btn-primary pull-right" type="submit">Add to Cart</button>
              <br clear="both" />
            </form>
          </div>
      {% endfor %}
    </div>
    <div class="col-sm-4">
      <div>
        <h3>Your Cart</h3>
        <div class="well">
          {% if cart %}
            {% for item in cart %}
              <div class="well backWhite">
                <form action="/orders/{{ item.orderId }}/line/{{ item.productId }}?_method=DELETE" method="POST">
                  <div>
                      <span class="label label-default">{{ item.quantity }}</span><span class="tabtorightsm">{{ item.product.name }}</span>
                    <br clear="both" />
                  </div>
                  <button class="btn btn-warning btn-sm margintop" type="submit">Remove from Cart</button>
                  <br clear="both" />
                </form>
              </div>
            {% endfor %}
            <hr class="hr" />
            <form action="/orders/{{ cartNum }}?_method=PUT" method="POST">
              <div><label for="address">Address:</label></div>
              {% if error %}
                <div class="textRed">Please enter an address<div>
              {% endif %}
              <input name="address" type="text" class="marginbelowsm textBlk" style="width:100%" />
              <button class="btn btn-primary" type="submit">Place Order</button>
            </form>
          {% else %}
            <h5>Your cart is empty</h5>
          {% endif %}
        </div>
      </div>
      <h3>Your Orders</h3>
      {% if orders %}
        <div class="well backWhite">
          {% for order in orders %}
            <div class="marginbelowsm margintop">Order: {{ order.id }}</div>
            <div class="well backWhite nomarginTopBot">
              {% for line in order.lineitems %}
                <div class="margintop">
                    <span class="label label-default">{{ line.quantity }}</span><span class="tabtorightsm">{{ line.product.name }}</span>
                  <br clear="both" />
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}